html {
	font-size: 10px;
	font-family: "Manifold DSA", Helvetica, san-serif;
	overflow-x: hidden;
}

body {
	position: relative;
}

@media (min-width: 1200px) {
	html {
		font-size: 12px;
	}
}

p, span, div, a, button, .btn {
	font-size: 1.6rem;
}

a, btn, .btn {
	cursor: pointer;
}

a:focus, a:hover {
	color: #000;
}

ol, ul {
	list-style: disc;
	padding-left: 30px;
	margin: 15px 0;
}

li {
	margin-bottom: 10px;
}

address {
	margin: 15px 0;
	line-height: 1.4;
	padding: 15px;
	background-color: #eee;
	display: inline-block;
}

hr {
	margin: 60px 0;
}