@import "../variables";

.hero {
	min-height: 300px;
	background-image: image-url("rose-overlay.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: $red;
	position: relative;
}

.hero h1 {
	bottom: 30px;
	color: #fff;
	font-size: 7.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 8rem;
    position: relative;
    text-shadow: 2px 2px 0px rgba(200,200,200,0.9);
}