.hero.basic-hero {
	background-size: 50%;
    background-position: 100% 100px;
}

header.page-header {
	padding: 30px 0; 
}

.basic-page .col-md-4.rose {
	min-height: 100vh;
}

.col-md-10.main-content,
.col-md-6.main-content {
	padding: 60px 40px;
}

.intro {
	margin-bottom: 30px;
	font-size: 2rem;
}