@import "../variables";

.home.hero {
	align-items: flex-end;
	background-color: #DDDCDC;
	background-image: image-url("boston-dsa-hero.svg");
	display: flex;
	height: 500px;
	background-position: 60% calc(100% + 30px);

	.card {
		border-top: 3px solid $yellow;
		border-radius: 1px;
		box-shadow: 0 0 30px rgba(#000, .1);
		margin-bottom: 1rem;
	}

	.card-body {
		padding: 2rem;
	}

	h1 {
		bottom: 0;
		color: #000;
		font-size: 3rem;
		margin-top: 0;
	}
	
	li a {
		color: #000;
	}
}

.home #navbarNavDropdown.top a {
	color: $black;
}

.home #wrapper-navbar.top .navbar-brand {
	background-image: image-url("logo-black.png")
}

.home-top-section {
	.col-md-8 {
		padding: 30px;
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}

	.rose {
		height: 320px;
	}

	@media (max-width: 480px) {
		.rose {
			background-color: $red;
		}
	}

	@media (min-width: 995px) {
		.col-md-8 {
			padding: 60px;
		}
	}

}

.home-middle-section {
	background-color: $black;
	padding: 3em 0 5em 0;
	display: flex;
}

.home-bottom-section {

	.col-md-6 {
		padding: 30px;

		@media (min-width: 995px) {
			padding: 60px;
		}

	}

	.col-md-6:first-child {
		background-color: #eeeeee;
	}

	h2 {
		margin-bottom: 30px;
	}

	h4 {
		font-weight: bold;
	}

	.see-more {
		margin-top: 40px;
	}
}