.working-group {
	margin-bottom: 60px;
}

.working-group h3 {
	margin-bottom: 20px;
	display: inline-block;

	span {
		margin-right: 10px;
	}
}

.page-template-template-activism .entry-header {
	display: none;
}