.blog-post.hero h1 {
	font-size: 4rem;
}

.blog-post h4 {
	margin-bottom: 30px;
}

.blog-post.hero {
	margin-bottom: 60px;
}

.blog-post .entry-header {
	display: none;
}

.blog-post h3 {
	margin-bottom: 40px;
}

.blog-post p {
	margin-bottom: 30px;
}