@import "../variables";

.home-top-section {
	height: 33vh;

	.col-md-8 {
		padding: 45px;
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}

	.rose {
		background-color: $red;
		background-image: image-url("rose-overlay.svg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.home-middle-section {
	background-color: $black;
	height: 33vh;
	padding: 20px;

	h2 {
		color: #fff;
	}

	p {
		color: #fff;
	}

	.col-md-9 {
		padding: 45px;
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}

	.btn {
		background-color: #fff;
		color: $red;
		text-transform: uppercase;
		font-size: 2rem;
		padding: 5px 15px;
		top: 50%;
	    position: relative;
	    margin-top: -25px;
	    width: 100%;
	}
}

.home-bottom-section {
	height: 33vh;

	.col-md-6 {
		padding: 20px;

	}

	.col-md-6:first-child {
		background-color: $red;

		h2 {
			color: #fff;
		}
	}
}