@import "../variables";

.home.hero {
	background-image: image-url("hero.jpg");
	height: 400px;

	@media (min-width: $desktop) {
		height: 500px;
	}
}

.home-top-section {
	.col-md-8 {
		padding: 30px;
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}

	.rose {
		height: 300px;
	}

	@media (min-width: 995px) {
		.col-md-8 {
			padding: 60px;
		}
	}
}

.home-middle-section {
	background-color: $black;
	height: 300px;

	h2 {
		color: #fff;
	}

	p {
		color: #fff;
	}

	.col-md-8 {
		display: flex;
    	flex-direction: column;
    	justify-content: center;
	}

	.btn {
		background-color: #fff;
		border-color: #fff;
		color: $red;
		text-transform: uppercase;
		font-size: 1.8rem;
		padding: 5px 15px;
		top: 50%;
	    position: absolute;
	    margin-top: -25px;
	    width: 100%;
	    font-weight: bold;

	    &:hover {
	    	background-color: #d3d2d2;
	    	color: $red;
	    }
	}

	@media (min-width: 995px) {
		.col-md-8 {
			padding: 60px;
		}
	}
}

.home-bottom-section {

	.col-md-6 {
		padding: 30px;

		@media (min-width: 995px) {
			padding: 60px;
		}

	}

	.col-md-6:first-child {
		background-color: $red;

		h2 {
			color: #fff;
		}
	}

	h2 {
		margin-bottom: 30px;
	}

	@media (min-width: 995px) {
		height: 400px;
	}
}