/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Components */
/* line 1, ../sass/components/base.scss */
html {
  font-size: 10px;
  font-family: "Manifold DSA", Helvetica, san-serif;
}

/* line 6, ../sass/components/base.scss */
p, span, div, a, button, .btn {
  font-size: 1.6rem;
}

/* line 10, ../sass/components/base.scss */
a, btn, .btn {
  cursor: pointer;
}

/* Colors */
/* line 3, ../sass/components/header.scss */
.wrapper-navbar {
  position: fixed;
  width: 100%;
}

/* line 8, ../sass/components/header.scss */
#wrapper-navbar {
  background-color: #fff;
  z-index: 9;
}
/* line 12, ../sass/components/header.scss */
#wrapper-navbar.top {
  background-color: transparent;
}

/* line 17, ../sass/components/header.scss */
nav.navbar {
  background-color: transparent;
}
/* line 20, ../sass/components/header.scss */
nav.navbar.top {
  background-color: #fff;
}
/* line 24, ../sass/components/header.scss */
nav.navbar .fluid-container {
  width: 100%;
}

/* line 29, ../sass/components/header.scss */
.navbar-brand {
  background-image: url('../img/logo.png?1493602781');
  background-size: cover;
  text-indent: -9999px;
  width: 323px;
  height: 72px;
}

/* line 37, ../sass/components/header.scss */
#navbarNavDropdown {
  float: right;
  width: auto;
  background-color: #fff;
}
/* line 42, ../sass/components/header.scss */
#navbarNavDropdown a {
  color: #231f20;
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
  transition: .4s all ease-in-out;
}
/* line 49, ../sass/components/header.scss */
#navbarNavDropdown a:hover {
  color: #ec1f27;
}
/* line 54, ../sass/components/header.scss */
#navbarNavDropdown.top {
  background-color: transparent;
}
/* line 57, ../sass/components/header.scss */
#navbarNavDropdown.top a {
  color: #fff;
}
/* line 60, ../sass/components/header.scss */
#navbarNavDropdown.top a:hover {
  color: #ec1f27;
}

/* line 3, ../sass/components/footer.scss */
#wrapper-footer {
  background-color: #231f20;
  height: 115px;
}

/* line 9, ../sass/components/footer.scss */
#footerNavbarNavDropdown a {
  color: #fff;
}

/* line 3, ../sass/components/typography.scss */
h1 {
  font-size: 2.8rem;
}

/* line 7, ../sass/components/typography.scss */
h2 {
  font-size: 2.4rem;
  margin-bottom: 15px;
}

/* line 12, ../sass/components/typography.scss */
h3 {
  font-size: 2.1rem;
  margin-bottom: 15px;
}

/* line 17, ../sass/components/typography.scss */
h4 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

/* line 22, ../sass/components/typography.scss */
h5 {
  font-size: 1.6rem;
}

/* line 27, ../sass/components/typography.scss */
h1 span, h2 span, h3 span, h4 span, h5 span {
  font-weight: bold;
}

/* line 32, ../sass/components/typography.scss */
p {
  font-size: 1.6rem;
}

/* line 36, ../sass/components/typography.scss */
span {
  font-size: inherit;
}

/* line 1, ../sass/components/hero.scss */
.hero {
  height: 500px;
  background-image: url('../img/hero.jpg?1493602781');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 1, ../sass/components/overrides.scss */
.wrapper {
  padding: 0;
}

/* Pages */
/* line 3, ../sass/pages/homepage.scss */
.home-top-section {
  height: 33vh;
}
/* line 6, ../sass/pages/homepage.scss */
.home-top-section .col-md-8 {
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 13, ../sass/pages/homepage.scss */
.home-top-section .rose {
  background-color: #ec1f27;
  background-image: url('../img/rose-overlay.svg?1493602781');
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 21, ../sass/pages/homepage.scss */
.home-middle-section {
  background-color: #231f20;
  height: 33vh;
  padding: 20px;
}
/* line 26, ../sass/pages/homepage.scss */
.home-middle-section h2 {
  color: #fff;
}
/* line 30, ../sass/pages/homepage.scss */
.home-middle-section p {
  color: #fff;
}
/* line 34, ../sass/pages/homepage.scss */
.home-middle-section .col-md-9 {
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* line 41, ../sass/pages/homepage.scss */
.home-middle-section .btn {
  background-color: #fff;
  color: #ec1f27;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 5px 15px;
  top: 50%;
  position: relative;
  margin-top: -25px;
  width: 100%;
}

/* line 54, ../sass/pages/homepage.scss */
.home-bottom-section {
  height: 33vh;
}
/* line 57, ../sass/pages/homepage.scss */
.home-bottom-section .col-md-6 {
  padding: 20px;
}
/* line 62, ../sass/pages/homepage.scss */
.home-bottom-section .col-md-6:first-child {
  background-color: #ec1f27;
}
/* line 65, ../sass/pages/homepage.scss */
.home-bottom-section .col-md-6:first-child h2 {
  color: #fff;
}
